<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.pj.MainlistMapper">

	<select id="getAllkadaiList" parameterType="com.main.pj.KadaiDTO" resultType="com.main.pj.KadaiDTO" >
		SELECT kadaikannri_number,kadai_table.shainn_number,tassei_yoteibi,kadai_naiyou,tassei_kahi,tasseiritu FROM daily_table INNER JOIN kadai_table ON daily_table.shainn_number = kadai_table.shainn_number
		where kadai_table.shainn_number = #{shainn_number }
		
		
		
	</select>




</mapper>