@charset "UTF-8";

body {
  display: flex;
}

.progress-text {
  color: #9f9fa1;
}

.progress-bar {
  width: 200px;
  height: 15px;
  background-color: #8b8b8d;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.progress-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #00ff00;
}

a {
  text-decoration-line: none;
}
















