@charset "UTF-8";

        .popup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 500px;
            text-align: center;
            
            
            
           
        }
        
        
        
        
        .popup h2 {
            text-align: left;
        }
        
        .popup input {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            margin-top: 20px;
        }